<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Travel Planner</h1>
    <form action="/recommend" method="post">
        <input type="text" id="interestsInput" name="interests" placeholder="Enter your interests...">
        <button type="submit">Recommend</button>
    </form>

    <script src="{{ url_for('static', filename='js/awesomplete.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/interests.js') }}"></script>

    <script>
        // Access the 'interests' array from interests.js
        var interestsInput = document.getElementById('interestsInput');
        new Awesomplete(interestsInput, {
            list: interests,
            minChars: 1,
            autoFirst: true
        });
    </script>
</body>
</html>
