body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 20px;
}

ul li ul {
    margin-left: 20px;
}
